<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Maths">
<groups>
<run>
<include name="ReadVariables">
</include>
</run>
</groups>
<test name="SimpleMaths">
<method-selectors>
<method-selector>
<script language="beanshell">
<![CDATA[groupname=System.getProperty("testGroupToRun");
         groups.containsKey(groupname);
       ]]>
</script>
</method-selector>
</method-selectors>
<classes>
<class name="SampleCalculations.SampleMaths">
</class>
</classes>
</test>
</suite>